
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
@font-face {
  font-family: 'Act_Of_Rejection';
  src: url('fonts/Act_Of_Rejection.ttf') format('truetype');
  /* Ajoutez des règles supplémentaires pour spécifier les différents formats de police si nécessaire */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.displayNone{
    display: none!important;
}

body{
    background: #0c1e93;
    color: aliceblue; overflow: hidden;
}

#homePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; overflow: hidden;
 
}
#battlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
        overflow: hidden;

}
#endBattlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; overflow: hidden;

}

.playerPV{
  opacity: 0%;
}

#champSelectPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
}
#champList{

    width: 400px;
    height: 700px;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
 
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: scroll;
}
.champSelectCard{

    
    padding: 2px;
    border-radius: 500px;
    border: solid #0066cc00
}

.champSelectCard:hover{
 
    transition : 374ms;
    transform : scale(110%);
    padding: 2px;

}
#champImgJ1{
  transform: scale(-1, 1);
}




.inputchampSelectCard{
    display: none;
}

.inputchampSelectCard:checked + label
{ 
    transition : 374ms;
    padding: 2px;
    animation: shakea 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}
*::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: #ffffff40;
 
}





*::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #ffffff;
 
}

#winChamp{
display: flex;
flex-direction: column;
align-items: center;
}


@keyframes shakea {
    

100%{
  transform: scale(130%);
}

  0%, 90% {
    transform: translate3d(-1px, 0, 0) scale(130%);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(130%);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(130%);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(130%);
    ;
    
  }
}















#tryagain{
  border: none;
  background: none;
}







.imageShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    animation-delay: 600ms;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    



    0%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .imageShakeAttackJ2 {
    animation: shakeAttack2 0.82s  both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shakeAttack2 {
    10%{
      
      transform: translate3d(-10px, 0, 0),
      rotateZ(0deg);
    }
    20% {
      
      transform: translate3d( 60px, 0, 0)
      rotateZ(0deg);
    }
    60% {
      
      transform: translate3d( 60px, 0, 0)
      rotateZ(-40deg);
    }
    70%  {
      transform: translate3d( -280px, 0, 0)
      rotateZ(-40deg);
    }

    80%  {
      
      transform: translate3d( -300px, 0, 0)
      rotateZ(0deg);
    }
    100% {
      transform: translate3d( 0, 0, 0);
    }
  }

  .imageShakeAttackJ1 {
    animation: shakeAttack1 0.82s  both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  

  @keyframes shakeAttack1 {
    10%{
      
      transform: translate3d(10px, 0, 0),
      rotateZ(0deg);
    }
    20% {
      
      transform: translate3d( -60px, 0, 0)
      rotateZ(0deg);
    }
    60% {
      
      transform: translate3d( -60px, 0, 0)
      rotateZ(40deg);
    }
    70%  {
      transform: translate3d( 280px, 0, 0)
      rotateZ(40deg);
    }

    80%  {
      
      transform: translate3d( 300px, 0, 0)
      rotateZ(0deg);
    }
    100% {
      transform: translate3d( 0, 0, 0);
    }
  }


button{

font-family: Act_Of_Rejection, sans-serif;

font-size: 14px;
color: #fff;
background: #0066cc;
padding: 5px 20px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 300ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

button:hover{

transition : 300ms;
padding: 10px 20px;
transform : translateY(-0px);
background: white;
color: #0066cc;
border: solid 2px #0066cc;
}





.atteckAsset{
 
	animation: atteckAssetAnim 1s both; animation-delay: 800ms;
  font-family: 'Act_Of_Rejection',sans-serif;
}

@keyframes atteckAssetAnim {
  10%{
    opacity: 0%;
   
    transform: translate3d(0, 10px, 0);
  }
  
  
20% {
    opacity: 100%;
  }

  90% {
    opacity: 100%;
    transform: translate3d(0, 0, 0)
    scale(160%);
  }

  100% {
    opacity: 0%;
    transform: translate3d(0, 10px, 0);
    
  }
}
#winChampImg img{

transform:  scale(200%);
	animation: win 1s both; animation-delay: 800ms;

}

@keyframes win {
  10%{
    opacity: 0%;
   
    transform: translate3d(0, 10px, 0);
  }
  
  
20% {
    opacity: 100%;
  }

  90% {
    opacity: 100%;
    transform: translate3d(0, 0, 0)
    scale(200%);
  }


}