
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.displayNone{
    display: none!important;
}

body{
    background: #322626;
    color: aliceblue;
}

#homePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: #fff solid 5px;
}
#battlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: #fff solid 5px;
}
#endBattlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: #fff solid 5px;
}



#champSelectPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
#champList{
    width: 400px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.champSelectCard{

    
    padding: 2px;
    border-radius: 500px;
    border: solid #0066cc00
}

.champSelectCard:hover{
    box-shadow: 0px 0px 10px 4px #000000;
    transition : 374ms;
    transform : scale(110%);
    padding: 2px;
    border-radius: 500px;
    border: solid #0066CC
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  .tremble{

  }
.champSelectJ1{    
    border: solid red 5px;
}
.champSelectJ2{
    
    border: solid blue 5px;
}


.inputchampSelectCard{
    display: none;
}

.inputchampSelectCard:checked + label
{    box-shadow: 0px 0px 10px 4px #000000;
    transition : 374ms;
    padding: 2px;
    border-radius: 500px;
    border: solid #8ab0d6;
}

.imageShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .imageShakeAttack {
    animation: shakeAttack 0.82s  both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shakeAttack {
    10%{
      transform: translate3d(0, -10px, 0);
    }
    
    80% {
      transform: translate3d(0, 50px, 0);
    }
  
    90%  {
      transform: translate3d(0, -50px, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

button{

font-family: Roboto, sans-serif;

font-size: 14px;
color: #fff;
background: #0066cc;
padding: 5px 20px;
border: 2px solid #0066cc;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 300ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

button:hover{

transition : 300ms;
padding: 10px 20px;
transform : translateY(-0px);
background: white;
color: #0066cc;
border: solid 2px #0066cc;
}
