
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
@font-face {
  font-family: 'Act_Of_Rejection';
  src: url('fonts/Act_Of_Rejection.ttf') format('truetype');
  /* Ajoutez des règles supplémentaires pour spécifier les différents formats de police si nécessaire */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.displayNone{
    display: none!important;
}

body{
    background: #0c1e93;
    color: aliceblue; overflow: hidden;
}

#homePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; overflow: hidden;
 
}
#battlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 300px;
    justify-content: center;
        overflow: hidden;

}
#endBattlePage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; overflow: hidden;

}

.playerPV{
  opacity: 0%;
}

#champSelectPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:30px;
  
}
#champList{
    gap: 20px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 30px;
  overflow-x: hidden;
    overflow-y: scroll;
    align-items: baseline;
}
.champSelectCard{
    padding: 2px;
    border-radius: 500px;
    border: solid #0066cc00;
}

.champSelectCard:hover{
 
    transition : 374ms;
    transform : scale(110%);
    padding: 2px;

}
#champImgJ1{
  transform: scale(-1, 1);
}
#champSelectBtnJ2{
  background-color: red;
}



.inputchampSelectCard{
    display: none;
}

.inputchampSelectCard:checked + label img
{ 
  
    transition : 374ms;
    padding: 2px;
    animation: shakea 0.82s cubic-bezier(.36,.07,.19,.97) both;
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 20px;
  width: 20px;
}
*::-webkit-scrollbar-track {
  border-radius: 14px;
  background-color: #ffffff40;
}

.inputchampSelectCard:checked + label .vignette
{
display: flex;
z-index: 1;
transition: 500ms;


}



.J1bg{
  background-color: rgb(9, 188, 93);
}
.J2bg{
  background-color: red;
}



.vignette{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;  align-items: center;
  justify-content: center;
  background-color: rgb(9, 188, 93);
  border-radius: 70px;
  font-weight: 1000;
  font-size: x-large;
}


*::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #ffffff;
 
}

#winChamp{
display: flex;
flex-direction: column;
align-items: center;
gap:100px
}


@keyframes shakea {
    

100%{
  transform: scale(110%);
}

  0%, 90% {
    transform: translate3d(-1px, 0, 0) scale(100%);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0) scale(100%);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) scale(100%);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) scale(100%);
    ;
    
  }
}















#tryagain img{
  width: 800%;
}


#tryagain{
  border: none;
  background: none;
  display: flex;
  z-index: 1;
  justify-content: center;
}







.imageShake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    animation-delay: 600ms;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    



    0%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .imageShakeAttackJ2 {
    animation: shakeAttack2 0.82s  both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shakeAttack2 {
    10%{
      
      transform: translate3d(-10px, 0, 0),
      rotateZ(0deg);
    }
    20% {
      
      transform: translate3d( 60px, 0, 0)
      rotateZ(0deg);
    }
    60% {
      
      transform: translate3d( 60px, 0, 0)
      rotateZ(-40deg);
    }
    70%  {
      transform: translate3d( -280px, 0, 0)
      rotateZ(-40deg);
    }

    80%  {
      
      transform: translate3d( -300px, 0, 0)
      rotateZ(0deg);
    }
    100% {
      transform: translate3d( 0, 0, 0);
    }
  }

  .imageShakeAttackJ1 {
    animation: shakeAttack1 0.82s  both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  

  @keyframes shakeAttack1 {
    10%{
      
      transform: translate3d(10px, 0, 0),
      rotateZ(0deg);
    }
    20% {
      
      transform: translate3d( -60px, 0, 0)
      rotateZ(0deg);
    }
    60% {
      
      transform: translate3d( -60px, 0, 0)
      rotateZ(40deg);
    }
    70%  {
      transform: translate3d( 280px, 0, 0)
      rotateZ(40deg);
    }

    80%  {
      
      transform: translate3d( 300px, 0, 0)
      rotateZ(0deg);
    }
    100% {
      transform: translate3d( 0, 0, 0);
    }
  }


button{
  width: 100px;
  height: 100px;
font-size: 2rem;
color: #fff;
background: #0c1e93;
padding: 5px 20px;
border: 5px solid white;
border-radius: 50px;
cursor: pointer;
font-weight: bold;
}

button:hover{
transition : 500ms;

background: white;
color: #0c1e93;
border: solid 5px white;
}

#homePageStartBtn:hover img {
  filter: brightness(0) saturate(100%) invert(17%) sepia(74%) saturate(5501%) hue-rotate(249deg) brightness(70%) contrast(127%);
}

.atteckAsset{
 
	animation: atteckAssetAnim 1s both; animation-delay: 800ms;
  font-family: 'Act_Of_Rejection',sans-serif;
}

@keyframes atteckAssetAnim {
  10%{
    opacity: 0%;
   
    transform: translate3d(0, 10px, 0);
  }
  
  
20% {
    opacity: 100%;
  }

  90% {
    opacity: 100%;
    transform: translate3d(0, 0, 0)
    scale(160%);
  }

  100% {
    opacity: 0%;
    transform: translate3d(0, 10px, 0);
    
  }
}
#winChampImg img{
transition: 100ms;  
transform:  scale(200%);
animation: win 1s both; animation-delay: 800ms;

}

@keyframes win {


}